<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Airspace | Creative Agency Bootstrap Template</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Creative Agency Bootstrap Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Airspace Template v1.0">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />


  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{{ asset('plugins/bootstrap/bootstrap.min.css') }}">
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href="{{ asset('plugins/Ionicons/css/ionicons.min.css') }}">
  <!-- animate.css -->
  <link rel="stylesheet" href="{{ asset('plugins/animate-css/animate.css') }}">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="{{ asset('plugins/magnific-popup/magnific-popup.css') }}">
  <!-- Slick CSS -->
  <link rel="stylesheet" href="{{ asset('plugins/slick/slick.css') }}">
  
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>

<body id="body">

<!-- Header Start -->
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  {% include 'HeaderConnected.html.twig' %}
{% else %}
  {% include 'HeaderNotConnected.html.twig' %}
{% endif %}

<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Blog Full Width</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ex!</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% for article in articles %}
  <div class="post">
    <div class="post-media post-thumb">
      <a href="blog-single.html">
        <img src="images/blog/blog-post-2.jpg" alt="">
      </a>
    </div>
    <h3 class="post-title"><a href="blog-single.html">{{article.titre}}</a></h3>
    <div class="post-meta">
      <ul>
        <li>
          <i class="ion-calendar"></i> {{article.date|date('Y-m-d')}}
        </li>
        <li>
        <li>
          <a href="blog-grid.html"><i class="ion-pricetags"></i> LIFESTYLE</a>,<a href="blog-left-sidebar.html"> TRAVEL</a>, <a href="blog-right-sidebar.html">FASHION</a>
        </li>

      </ul>
    </div>
    <div class="post-content">
      <p>{{article.libelle}}</p>
      <p>{{article.UneCategorie}}</p>
      <p>{{article.Auteur}}</p>
      <a href="blog-single.html" class="btn btn-main">Continue Reading</a>
    </div>
  </div>
  <td>
    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
  </td>
{% else %}
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination post-pagination">
    <li class="page-item"><a class="page-link" href="blog-grid.html">Prev</a></li>
    <li class="page-item"><a class="page-link" href="blog-grid.html">1</a></li>
    <li class="page-item"><a class="page-link" href="blog-grid.html">2</a></li>
    <li class="page-item"><a class="page-link" href="blog-grid.html">3</a></li>
    <li class="page-item"><a class="page-link" href="blog-grid.html">Next</a></li>
  </ul>
</nav>
			</div>
		</div>
	</div>
</div>

<!-- footer Start -->
{% include 'Footer.html.twig' %}

<!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
	<span class="icon ion-ios-arrow-up"></span>
</div>

    <!-- 
    Essential Scripts
    =====================================-->


    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- filter -->
    <script src="plugins/shuffle/shuffle.min.js"></script>
    <script src="plugins/SyoTimer/jquery.syotimer.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="plugins/google-map/map.js"></script>

    <script src="js/script.js"></script>

    </body>

    </html>